
/* Your CSS Code here. */
.holder{
	display:block;
	justify-content: center;
	align-item: center;
	width:100vw;
	height:100vh;
	background-color: lightgray;
}
.item-1{
	width:100px;
	height:100px;
	background-color: red;
	 text-align: center; /* Optional: Center text within item-1 */
/* Optional: Center text vertically within item-1 */
}